html, body, #root{
      margin: 0;
      padding: 0;
      border: 0;
      height: 100%;
      width:100%;
  }

  .app{
    background-color: #fff;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
  }

  .fundo{
    color: aliceblue;
    text-align: center;
    max-width: 500px;
    width: 80%;
  }

  .google-pesquisa{
    background-color: #ababab;
    padding: 1px;
    margin: 0px;
    border-radius: 10px;
  }

  .img1{
    border-radius: 7px;
  }

